.loader{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button-icon{
    margin-top: -2px;
    margin-right: 10px;
}

.MuiTableCell-root{
    border-bottom: none !important;
    font-family: inherit !important;
}

.table-head{
    background-color: #a2affc;
    padding: 0.8rem 0.5rem;
    font-size: 1.05em;
    font-weight: bold;
    border-top: 1px solid black;
    min-width: 8rem;
}

.table-body{
    font-size: 1em;
    font-weight: normal;
    
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    
  }
  
th{
    text-align: center!important;
    padding: 16px;
    min-width: max-content;
  }
  
td{
    text-align: center!important;
    padding: 16px;
    border-bottom: 1px solid black;
    min-width: max-content;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* order */

.cartHeading{
    margin-top: 2%;
    margin-bottom: 3%;
    font-weight: bold;
    font-family: Helvetica;
}
.cartSub-Heading{
    font-size: 10px;
    font-family: Helvetica;
}

.cartContainer{
    border: #d6d6d6 5px solid;
    height: max-content;
    margin-bottom: 2%;
    border-radius: 24px;
}

.cartImage{
    width: 13rem !important;
    height: 100% !important;
    max-height: 20vh;     
    padding: 7%
}

.cardOrder {
    overflow: hidden;
    background: white;
    transition: ease box-shadow 0.3s;
  }

.cardOrder:hover {
    box-shadow: 
     0 15px 30px 0 rgba(0,0,0,0.08),
     0 5px 25px 0 rgba(0,0,0,.08);
}

@media only screen and (max-width: 768px) {

    #content-desktop {display: none;}
    #content-mobile {display: block;}

    .cartHeadingMobile{
        margin-top: 2%;
        margin-bottom: 3%;
        font-weight: bold;
        font-family: Helvetica;
        position: relative;
        text-align: center;
    }
    .cartSub-HeadingMobile{
        font-size: 10px;
        font-family: Helvetica;
    }
    
    .cartImage{
        width: 100% !important;
        max-width: 35vw;
        height: 100% !important;
        max-height: 35vh;     
        padding: 5%
    }
    .orderdetails{ 
        text-align: center;
    }
    .deleteButton{
        width: 100%;
        border-radius: "0px";
    }
    .counter, .quantity{
        text-align: center;
    }
    
    
    }
    
    #content-desktop {display: block;}
    #content-mobile {display: none;}
    
.navigation{
    padding: 2% 2% 2% 0%;
}
.orderdetails{
    padding: 3%;
}
.noshadowbutton{
    box-shadow: "none" !important; 
    border-radius: "0px" !important;
}

#x {
    position: absolute;
    color: default;
    top: -20px;
    right: -20px;
} 